*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/test/java/com/cochenct/testads/ExampleUnitTest.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle.properties
gradlew
gradlew.bat
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/codeStyles/Project.xml
app/src/androidTest/java/com/cochenct/testads/ExampleInstrumentedTest.java
